.userProfileCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.commPageTitle {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}

.commPageTagline {
    font-size: 14px;
}