.LoginPageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registerForAccountBtn {
    background-color: #A5D1D0;
    font-size: 14px;
}

.loginBtn {
    background-color:#A5D1D0; 
}

.loginPageHeader {
    margin: 10px 0px 15px 0px;
}