.userPicksFullPage {
    background-color: rgb(216, 230, 229);
}

.userNamePickTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
}

.pickCardsContainer {
    display: flex;
    justify-content: center;
}