.singleProductPageDescription {
    text-align: left;
    margin-top: 10px;
}

.SingleProductView {
    margin-top: 15px;
}

.userReviewSectionLabel {
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
    margin-top: 15px;
}