.userProfileCard {
    border-radius: 10px;
    transition: 0.3s;
    height: 275px;
    margin: 5px;
    padding: 0px 0px;
    width: 250px;
    background-color: white;
}

.userProfileCardImg {

    max-height: 175px;
    margin: 10px 0px 0px 0px;
}

#userCardBody {
    padding: 5px
}

.user-name {
    font-size: 1.2em;
    margin-bottom: 2px;
}

.user-location {
    font-size: 1em;
    margin-bottom: 2px;
}

.product-description {
    font-size: 0.75em;
    margin-bottom: 2px;
    text-align: left;
}

.viewProfileBtn {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 0.75em;
    margin: 3px;
}